body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #161313;
    background: #92d4e9;
    font-family: consolas;
}
.header {
    text-align: left;
    padding: 20px;
}
p{
    font-family: consolas;
}
.btn-container {
    text-align: center;
}
.img-container {
    text-align: center;
  }
.btn-neon {
    position: relative;
    display: inline-block;
    margin: 10px; /* Añadido margen entre los botones */
    padding: 15px 30px;
    color: #131111;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover {
    background: #394684;
    box-shadow: 0 0 10px #394684, 0 0 40px #394684, 0 0 80px #394684;
    transition-delay: 0.1s;
    color: #fff;
}

.btn-neon span {
    position: absolute;
    display: block;
}

.btn-neon #span1, .btn-neon #span3 {
    top: 0;
    width: 100%;
    height: 2px;
}

.btn-neon #span1 {
    left: -100%;
    background: linear-gradient(90deg, transparent, #394684);
}

.btn-neon #span3 {
    right: -100%;
    background: linear-gradient(270deg, transparent, #394684);
}

.btn-neon #span2, .btn-neon #span4 {
    width: 2px;
    height: 100%;
}

.btn-neon #span2 {
    top: -100%;
    right: 0;
    background: linear-gradient(180deg, transparent, #394684);
}

.btn-neon #span4 {
    bottom: -100%;
    left: 0;
    background: linear-gradient(360deg, transparent, #394684);
}
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.doctor {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.doctor img {
    max-width: 100px;
    float: left;
    margin-right: 10px;
}

.doctor-details {
    margin-left: 120px;
}
.center-container {
    text-align: center;
}